.country {
    font-family: 16px;
    width: 80%;
    margin: auto;

    &__back {
        margin: 2rem 0;
    }

    &__content {
        display: flex;
        column-gap: 10%;
    }

    &__flag {
        width: 45%;

        img {
            width: 100%;
        }
    }

    &__infos {
        width: 45%;
    }
}