@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

$dark-mode-background: hsl(207, 26%, 17%);
$dark-mode-element: hsl(209, 23%, 22%);
$dark-mode-text: hsl(0, 0%, 100%);
$light-mode-background: hsl(0, 0%, 98%);
$light-mode-element: hsl(0, 0%, 100%);
$light-mode-text: hsl(200, 15%, 8%);
$light-mode-input: hsl(0, 0%, 52%);

body {
    font-family: 'Nunito Sans', sans-serif;
    font-family: 14px;
    font-weight: 600;
    background-color: $dark-mode-background;
    color: $dark-mode-text;
}

.white-content {
    background-color: $light-mode-background;
}

.header {
    background-color: $dark-mode-element;
}

.error {
    color: red;
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
}