@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

$dark-mode-background: hsl(207, 26%, 17%);
$dark-mode-element: hsl(209, 23%, 22%);
$dark-mode-text: hsl(0, 0%, 100%);
$light-mode-background: hsl(0, 0%, 98%);
$light-mode-element: hsl(0, 0%, 100%);
$light-mode-text: hsl(200, 15%, 8%);
$light-mode-input: hsl(0, 0%, 52%);

body {
    font-family: 'Nunito Sans', sans-serif;
    font-family: 14px;
    font-weight: 600;
    background-color: $dark-mode-background;
    color: $dark-mode-text;
}

.white-content {
    background-color: $light-mode-background;

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ul,
    select {
        color: $light-mode-text;
    }

    header,
    select,
    .country-card,
    .search-bar__input {
        box-shadow: 0px 0px 3px 2px #D8D8D8;
    }

    header,
    .country-card {
        background-color: $light-mode-element;
    }

    select {
        background-color: $light-mode-background;
    }

    .search-bar__icon {
        color: $light-mode-input;
    }

    .search-bar__input {
        background-color: white;
        color: $light-mode-input;
    }
}

.header {
    background-color: $dark-mode-element;
}

.error {
    color: red;
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0.8rem;

    span {
        font-weight: 300;
    }
}